<div class="container"></div>
  <div class="text-center">
   <h1>Cocktails List</h1>


    <div class="container">
      <% @cocktails.each do |cocktail| %>
        <h2><%= link_to cocktail.name, cocktail_path(cocktail), class: "btn btn-info btn-lg" %></h2>
      <% end %>


    </div>
  </div>
  <div class="text-center">
    <%= link_to 'Create a new Cocktail', new_cocktail_path, class: "btn btn-primary"%>
  </div>
</div>

